.contentcd {
  height: 100vh;
  display: flex;
}

.contentcdmenu {
  width: 250px;
  height: 100vh;
}

.contentcdheaderone {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 120px;
}

.sectionFlex {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titlecdboton {
  display: flex;
  align-items: center;
  height: 80px;
}

.seccionnoio {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
}

.sectioncdusers {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.sectioncdusersinicio {
  width: 100%;
}

/* carrusel */

.sectioncdnovedad {
  width: 100%;
  height: 45vh;
  display: flex;
}

.sectionflex {
  margin: 10px;
  width: 80%;
  height: auto;
  margin-left: 60px;
  display: flex;
}

.boxnoticesone {
  height: 40px;
  width: 170px;
  border-bottom: 18px solid #e9f9f8;
}

.novedades {
  margin-left: 160px;
}

.orientedcd {
  margin-left: 10px;
  height: 23px;
  border-bottom: 10px solid #ffeb33;
}
.textnovedade {
  margin-left: 90px;
}

.BoxNovedadescd {
  height: 35px;
  width: 160px;

  border-bottom: 10px solid rgb(206, 244, 255);
}

.btn-enter-orientaded {
  width: 184px;
  height: 40px;
  border-radius: 8px;
  background-color: #0BA4A0;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 13px;
  transition: 500ms;
}

@media (max-width: 600px) {
  .box-center {
    margin-left: -35px;
  }
  .contentsone {
    display: flex;
    margin-right: 100px;
  }
  .contentstwo {
    display: flex;
    flex-direction: column;
  }
  .admintbloque {
    display: flex;
    margin-right: 100px;
  }

  .butonsingresedoriented {
    margin-top: 10px;
    margin-left: 7px;
  }
  .BoxNovedadescd {
    margin-left: -33px;
    width: 160%;
  }
  .orientedcd {
    margin-left: -25px;
  }
  .newsorientedcv {
    width: 160px;
  }
  .Adminbloque {
    overflow: hidden;
    width: 100%;
    display: flex;
  }
  .contentslider {
    width: 90%;
  }
  .boxMainSlider {
    margin-left: -10px;
    width: 100%;
    height: 240px;
    overflow: hidden;
  }
  .slick-list {
    width: 100%;
  }
  .textnovedade {
    margin-left: 50px;
  }
}