.boxMainSidebar {
    position: sticky;
    top: 0;
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(228, 232, 240, 1);
}


.logo-profile {
    margin: 0px 7px 0px 0px;
  }

.ulSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liSidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 56px;
    align-items: center;
    width: 100%;
    transition: 400ms;
}

.liSidebar:hover {
    background-color: #1ec5ba24;
    border-left: 4px solid #1EC5BB;
    transition: 0.5s;
    cursor: pointer;
    color: #1EC5BB;
}

.pSidebar {
    padding: 8px;
}

.iconSidebar {
    width: 24px;
    height: 24px;
    margin-left: 20px;
}

.sidebarLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 111px;

}

.linkSidebar {
    width: 100%;
}

@media (max-width: 970px) {
    .pSidebar {
        display: none;
    }

    .iconSidebar {
        margin-left: 0;

    }

    .liSidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.activeLiSidebar {
    border-left: 4px solid #1EC5BB;
    background-color: #1ec5ba24;
}