.box-center {
  width: 100%;
  display: flex;
}

.boxtwo {
  border: 1px solid rgb(0, 0, 0);
  width: 312px;
  height: 96px;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.boxflex {
  display: flex;

  width: 100%;
}

li {
  list-style: none;
}

.ImgUsers {
  width: 60px;
  height: 60px;
  background-color: antiquewhite;
}

.ulUserAdmin {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 80px;
}

.boxBtnHome {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.iconcd {
  margin-bottom: 50px;
  padding: 5px;
}

.padmin {
  display: flex;
  flex-direction: column;
}

.pname {
  margin-left: 5px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}

.pschools {
  margin-left: 5px;
  font-size: 14px;
  color: #8798ad;
}

@media (max-width: 600px) {
  .boxtwo{
    width: 100%;
  }
  
}
