.ul-users-admin-cv {
  width: auto;
  display: flex;
  flex-wrap: wrap;
}

.box-two {
  border: 1px solid #dadeeb;
  width: 312px;
  height: 96px;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.p-admin {
  line-height: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 7px;
}

.p-name {
  margin-left: 5px;
  line-height: 24px;
  font-size: 16px;
  color: #2E384D;
  font-family: 'Rubik';
  font-weight: bold;
}

.p-schools {
  margin-left: 5px;
  font-size: 14px;
  color: #8798ad;
}

.icon-cd {
  margin-bottom: 50px;
  padding: 5px;
  margin-right: 15px;
}

.icon-users-cv {
  width: 20px;
  height: 17px;
}

.box-center {
  display: flex;
}

.box-two:hover {
  background-color: rgb(244, 244, 244);
}

li {
  list-style: none;
}

.img-users {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  background-color: antiquewhite;
  border-radius: 100px;
}

@media (max-width: 1550px) {
  .ul-users-admin-cv {
    justify-content: center;
  }

  .box-users-cv {
    height: auto;
  }
}

@media (max-width: 511px) {
  .ul-users-admin-cv {
    justify-content: center;
  }

  .box-two {
    width: 100%;
  }
}
