.box-center {
  display: flex;
}

.boxtwo {
  border: 1px solid #dadeeb;
  width: 312px;
  height: 96px;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.boxflex {
  display: flex;
  width: 100%;
}

li {
  list-style: none;
}

.ImgUsers {
  margin-left: 10px;
  width: 60px;
  height: 60px;
  background-color: antiquewhite;
}

.ulUserAdmin {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 40px;
}

.boxBtnHome {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.iconcd {
  margin-bottom: 50px;
  margin-top: -5px;
  padding: 5px;
  margin-right: 15px;
}

.padmin {
  line-height: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-top: 7px;
}

.pname {
  margin-left: 5px;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
}

.pschools {
  margin-left: 5px;
  font-size: 14px;
  color: #8798ad;
}

@media (max-width: 600px) {
  .boxtwo {
    width: 100vh;
  }
  .ulUserAdmin {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .boxtwo {
    width: 100%;
  }
  .ulUserAdmin {
    width: 100%;
  }
}

@media (max-width: 610px) {
  .ulUserAdmin {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .ulUserAdmin {
    justify-content: center;
  }
  .boxtwo {
    width: 100%;
  }
}

@media (max-width: 376px) {
  .ulUserAdmin {
    justify-content: center;
  }
}
