@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.content{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content_two {
    width: 766px;
    
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: column;
    
}
.content_two h1,p{
 padding-bottom: 8px;
}

.paragraph_misions {
    font-family: 'Rubik', sans-serif;
    color: #2E384D;
}



.paragraph_bold {
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: #2E384D;
    padding: 20px 0 20px 0;
}

.paragraph_fontsize {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #2E384D;
}

.list{
    padding-left: 15px;
}

.lis {
    list-style-type: disc;
    color: rgb(0, 136, 255);
}

.paragraph {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #2E384D;
}

 /*  Media query */

 @media (max-width: 500px){
    .content{
        height: auto;
        padding: 10px;
        
        
    }
    .content_two {
        
        margin-top: 20px;
    }

    .paragraph_misions{
        font-size: 24px;
    }

    .paragraph{
        font-size: 16px;
    }

    .paragraph_fontsize{
        font-size: 16px;
    }
 }