.slick-slide > div {
  margin: 0 10px;
}
.slick-list {
  margin: 0 -10px;
}
.slick-prev:before,
.slick-next:before {
  color: rgb(0, 0, 0) !important;
}

.card {
  border: 2px solid rgb(105, 105, 105);
  border-radius: 8px;
  overflow: hidden;
  height: 200px;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.card-top h1 {
  display: flex;
  justify-content: center;
}

.boxcard {
  margin-top: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.textouno {
  margin-top: 3px;
  margin-left: 5px;
  color: black;
  width: 80%;
  overflow: hidden;
  height: 60px;
}

.textodos {
  margin-left: 5px;
  color: gray;
  width: 80%;
  overflow: hidden;
  height: 100px;
}

.textotres {
  margin-left: 5px;
  width: 80%;
  overflow: hidden;
  height: auto;
  margin-left: 5px;
}

.sliderone {
  margin-top: 30px;
  width: 100%;
  height: 200px;
}

.botoneffectcd {
  color: black;
  height: 22px;
  width: 70px;
  border-bottom: 10px solid yellow;
}

@media (max-width: 600px) {
  .sliderone {
    margin-left: -50px;
    
  }
  .slick-prev:before,
  .slick-next:before {
    display: none !important;
    
  }
 ::before{
  display: none;
 }
}
