.contentcd {
  background-color: gold;
  height: 100vh;
  display: flex;
}

.contentcdmenu {
  width: 250px;
  height: 100vh;
  background-color: green;
}

.contentcdheader {
  background-color: aqua;
  width: 100%;
  height: 100vh;
}

.contentcdheaderone {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 120px;
}
