.contentcd {
  background-color: gold;
  height: 100vh;
  display: flex;
}

.contentcdmenu {
  width: 250px;
  height: 100vh;
  background-color: green;
}

/* .contentcdheader {
  background-color: aqua;
  width: 80%;
  height: 100vh;
} */

.contentcdheaderone {
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 120px;
}

.sectionFlex {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.titlecdboton {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(57, 57, 179);
}

.seccionnoio{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: 60px;
  background-color: gold;
}

.sectioncdusers {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.sectioncdusersinicio{
  width: 100%;
}

/* carrusel */

.sectioncdnovedad {
  width: 100%;
  height: 45vh;
  background-color: gold;
  display: flex;
  
}

.sectionflex {
  margin: 10px;
  width: 80%;
  height: auto;
  background-color: rebeccapurple;
  margin-left: 60px;
  display: flex;
}

.boxbuttoncd {
  text-align: center;
  height: 40px;
  width: 200px;
  border-bottom: 5px solid rgb(30, 199, 255);
 
}

.novedades {
  margin-left: 160px;
}
