.text-new-user {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    font-family: sans-serif 'Rubik';
    color: #2E384D;
}

.cont-ingresar-orientado {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
    position: relative;
    left: 220px;
    width: 70%;
}

.btn-ingresar-orientado {
    width: 184px;
    height: 40px;
    border-radius: 8px;
    background-color: #0BA4A0;
    color: white;
    border: none;
    margin-left: 300px;
    font-weight: 600;
    font-size: 13px;
    transition: 500ms;
}

.btn-ingresar-orientado:hover {
    transition: 500ms;
    background-color: #20c0bb;
    cursor: pointer;

}

.buscador-orientado {
    border: rgb(201, 200, 200) solid 1px;
    width: 656px;
    height: 48px;
    border-radius: 8px;
    position: relative;
    left: 280px;
    box-shadow: 0px 0px 10px rgba(135, 152, 173, 0.1);
    z-index: 0;
    padding-left: 25px;
    -webkit-box-shadow: 1px 3px 8px -2px rgba(176, 176, 176, 1);
    -moz-box-shadow: 1px 3px 8px -2px rgba(176, 176, 176, 1);
    box-shadow: 1px 3px 8px -2px rgba(176, 176, 176, 1);
}

.buscador-orientado:focus {
    outline: none;
}

.logo-buscador {
    position: relative;
    z-index: 1;
    left: 240px;
    top: 7px;
}



.cont-users {
    position: relative;
    left: 270px;
    top: 50px;
}