.bannerItem, .bannerItem img, .contentItemBanner, .buttonsBanner{
    width: 100vw;
    height: 50vh;
}
.buttonsBanner{
    width: 98.8vw;
}
.bannerItem img{
    object-fit: cover;
}
.bannerItem, .bannerItem img{
    overflow: hidden;
}
.contentItemBanner{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: rgba(121, 121, 121, 0.247);
}
.banner{
    display: flex;
}
.buttonsBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}
.banner .arrow{
    display: flex;
    padding: 10px;
    margin: 20px;
    border-radius: 40px;
    border: 0.5px solid rgba(0, 0, 0, 0.678);
    background-color: rgba(255, 255, 255, 0.42);
    z-index: 4;
}
.arrow
.contentItemBanner h2{
    font-size: 50px;
}
.contentItemBanner h2{
    margin: 0 75px 0 75px;
}