.text-new-user {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    font-family: sans-serif 'Rubik';
    color: #2E384D;
}

.cont-ingresar-orientado {
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
    width: 100%;
}

.btn-ingresar-orientado {
    width: 184px;
    height: 40px;
    border-radius: 8px;
    background-color: #0BA4A0;
    color: white;
    border: none;

    font-weight: 600;
    font-size: 13px;
    transition: 500ms;
}

.btn-ingresar-orientado:hover {
    transition: 500ms;
    background-color: #20c0bb;
    cursor: pointer;

}

.cont-buscador-orientado {
    /* width: 50%; */
    width: 656px;
    height: 48px;
    border: solid 1px rgb(227, 227, 227);
    border-radius: 8px;
    -webkit-box-shadow: 1px 3px 8px -2px rgba(176, 176, 176, 1);
    -moz-box-shadow: 1px 3px 8px -2px rgba(176, 176, 176, 1);
    box-shadow: 1px 3px 8px -2px rgba(176, 176, 176, 1);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buscador-orientado {
    border-top: solid 1px rgb(227, 227, 227);
    border-bottom: solid 1px rgb(227, 227, 227);
    width: 590px;
    height: 48px;
    border-radius: 8px;
    padding-left: 25px;

}

.buscador-orientado:focus {
    outline: none;
}

.logo-buscador {
    /* position: relative;
    left: 705px;
    bottom: 34px; */
    height: 25px;
}



.cont-users {
    margin: 50px 90px;
}