* {
    Margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }

  .errorBox{
    width: 100%;
    height: 553px;
    background-color: #DADEEB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pError{
    font-family: rubik;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    color: #2E384D;
    padding: 10px;
  }

  .pError2{
    font-family: rubik;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #2E384D;
    padding: 10px;
  }

  .spanError{
    color: #1EC5BB;
    font-weight: 700;
  }