
.box-center{
    width: 105%;
}

.boxtwo {
  overflow: hidden;
  width: 30%;
  height: 100px;
  border-radius: 10px;
}

.boxflex {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }



li {
  list-style: none;
}

.ImgUsers{
  width: 60px;
  height: 60px;
  background-color: antiquewhite;
}

