@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*Estilos generales*/
.loginAdmin {
    display: flex;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.loginAdmin .imagesContainer,
.loginAdmin .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginAdmin .imagesContainer {
    align-items: center;
}

@media (max-width: 900px) {
    #vCampLogo{
        position: absolute;
        top: 100px;
    }
    .loginAdmin .imagesContainer,
    .loginAdmin .formContainer {
        width: 100vw;
        height: 100vh;
        align-items: center;
    }

    #logInImage {
        opacity: 0.3;
    }

    .loginAdmin .formContainer {
        position: absolute;
        background-color: rgba(240, 255, 255, 0.077);
    }

    .loginAdmin {
        flex-direction: column;
    }
}

/*Imagenes*/
@media (min-width:901px) {
    .loginAdmin .formContainer {
        align-items: left;
    }

    .loginAdmin .imagesContainer {
        width: 40vw;
    }

    .loginAdmin .formContainer {
        padding-left: 50px;
        width: 60vw;
    }
}

.loginAdmin .imagesContainer {
    background: #DADEEB;
}

#vCampLogo {
    width: 200px;
    height: 50px;
}

#LogInImage {
    width: 390px;
    height: 390px;
}

/*Formulario*/

.loginAdmin form {
    display: flex;
    flex-direction: column;
}

.loginAdmin h2 {
    padding: 10px;
}

#emailLog,
#passwordLog {
    width: 320px;
}

.loginAdmin .formContainer input {
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
}

.loginAdmin label {
    padding: 10px;
}

.inputLogIn {
    border: 0.3px solid rgb(130, 130, 130);
}

.loginAdmin input[type=submit] {
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-color: #0BA4A0;
    width: 185px;
    border: none;
}

/*Estilos error*/
.errorInput {
    border: 1px solid #d20000;
}

.errorContainer {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.errorContainer span {
    color: #d20000;
}

.errorLogIn {
    width: 15px;
    height: 15px;
    fill: #d20000;
    margin: 5px;
}