@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/*Estilos generales*/
.loginAdmin {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

/* Containers en desktop */
@media (max-width: 900px) {
    #vCampLogo{
        position: absolute;
        top: 100px;
    }
    .loginAdmin .imagesContainer,
    .loginAdmin .formContainer {
        width: 100vw;
        height: 100vh;
        align-items: center;
    }
    #logInImage {
        opacity: 0.2;
    }
    .loginAdmin .formContainer {
        position: absolute;
        background-color: rgba(240, 255, 255, 0.077);
    }
    .loginAdmin {
        flex-direction: column;
    }
}

/* Containers en tablet/mobile */
@media (min-width:901px) {
    .loginAdmin .formContainer {
        align-items: left;
    }
    .loginAdmin .imagesContainer {
        width: 40vw;
    }
    .loginAdmin .formContainer {
        padding-left: 50px;
        width: 60vw;
    }
}

/*Imagenes*/
.loginAdmin .imagesContainer {
    background: #DADEEB;
}

#vCampLogo {
    width: 200px;
    height: 50px; 
}

/*Formulario*/
.loginAdmin h2 {
    padding: 10px;
}

.loginAdmin .formContainer input {
    height: 40px;
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
}
