.text-referent {
    font-size: 1.6em;
    color: #2E384D;
    font-family: sans-serif 'Rubik';
    font-weight: bold;
    padding-bottom: 20px;
}

.two {
    margin-top: 50px;
}


.cont-student {
    width: 76%;
    height: 222px;
    border-radius: 10px;
    display: flex;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(161, 161, 161, 1);
    -moz-box-shadow: 0px 0px 17px 0px rgba(161, 161, 161, 1);
    box-shadow: 0px 0px 17px 0px rgba(161, 161, 161, 1);
}

.cont-image-profile {
    display: flex;
    height: 222px;
    width: 250px;
    justify-content: center;
    align-items: center;
}

hr {
    margin-top: 28px;
    height: 170px;
    width: 1px;
    background-color: rgb(228, 228, 228);
}

.image-profile-student {
    height: 130px;
    width: 130px;
    border-radius: 100%;
}


.name-student {
    font-weight: 500;
    font-size: 1.6em;
    line-height: 32px;
    color: black;
}

.text-orientado {
    color: rgb(192, 192, 192);
}

.text-gray {
    color: rgb(156, 156, 156);
    font-size: 12px;
    font-weight: 500;
}

.cont-info-student {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.cont-number {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 70px 0px 0px 50px;
}


.select-teach {
    width: 20%;
    height: 35px;
    color: rgb(146, 146, 146);
    border-radius: 8px;
    border: solid 1px rgb(189, 188, 188);
    font-weight: 600;
    font-family: sans-serif 'Rubik';
    margin-bottom: 15px;
}


.select-teach:focus {
    outline: none
}


.caja {
    height: 500px;
    width: 500px;
    background-color: red;
}



.selector-teacher {
    width: 300px;
    margin-bottom: 15px;
    border-radius: px;
}

.referent{
    padding-top: 30px;
}


.btn-asignar {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    border-radius: 8px;
    background-color: #0BA4A0;
    color: white;
    font-weight: 500;
    font-size: 16px;
    transition: 500ms;

}

.btn-asignar:hover {
    transition: 500ms;
    background-color: #058b87;

}



@media (max-width: 925px) {

    .image-profile-student {
        height: 90px;
        width: 90px;
        border-radius: 100%;
    }

}



@media (max-width: 860px) {
    .cont-student {
        width: 76%;
        height: 422px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 5px 5px 17px -2px rgba(181, 181, 181, 0.895);
        -moz-box-shadow: 5px 5px 17px -2px rgba(181, 181, 181, 0.895);
        box-shadow: 5px 5px 17px -2px rgba(181, 181, 181, 0.895);
    }

    .image-profile-student {
        margin-top: 20px;
        height: 130px;
        width: 130px;
        border-radius: 100%;
    }


    hr {
        margin-top: 28px;
        height: 1px;
        width: 170px;
        background-color: rgb(228, 228, 228);
    }

    .cont-info-student {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 20px;
    }


    .cont-number {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: 70px 0px 0px 50px;
    }

    .name-student {
        font-weight: 500;
        font-size: 1.4em;
        line-height: 32px;
        color: black;
    }

}




@media (max-width: 695px) {




    .cont-student {
        width: 70vw;
        height: 422px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        -webkit-box-shadow: 5px 5px 17px -2px rgba(181, 181, 181, 0.895);
        -moz-box-shadow: 5px 5px 17px -2px rgba(181, 181, 181, 0.895);
        box-shadow: 5px 5px 17px -2px rgba(181, 181, 181, 0.895);
    }



    .image-profile-student {
        margin-top: 20px;
        height: 100px;
        width: 100px;
        border-radius: 100%;
    }


    .name-student {
        font-weight: 500;
        font-size: 1.2em;
        line-height: 32px;
        color: black;
        padding: 0;
    }



    .cont-info-student {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        padding: 0px 20px 20px 20px;
    }


    .cont-number {
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;

    }

    .text-email{
        font-size: 13px;
    }


}



@media (max-width: 500px) {
    .text-referent{
        font-size: 18px;
    }

}


@media (max-width: 450px) {

    .selector-teacher {
        width: 200px;
        margin-bottom: 15px;
        border-radius: px;
    }
    

    .name-student {
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        color: black;
        padding: 0;
    }
}