


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.HomeScreen {
  width: 100%;
  height: 100vh;
}


.cont-experience {
  height: 270px;
  width: 100%;
  background-color: #DADEEB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-transform {
  font-size: 2em;
  font-family: sans-serif 'Rubik';
  color: #2E384D;
  font-weight: 500;
  margin: 0px;
}

.text-experience {
  font-size: 2.8em;
  font-weight: 700;
  font-family: sans-serif 'Rubik';
  color: #2E384D;
  margin: 0px;
}


.cont-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Media query */

@media (max-width: 600px){

  .text-transform{
    font-size: 24px;
    text-align:center;
  }

  .text-experience{
    font-size: 32px;
    text-align: center;
  }
}